*{
    font-family: 'Nunito';
    margin: 0;
    padding: 0;
    color: rgb(136, 200, 255);
}

h2{
    text-align: center;
    margin: 15px;
    color: #00FFF3;
    background-color:rgba(0,200,200,.1);
    
    border: 1px solid;
    border-color: rgba(0,200,200,.8);
    border-radius: 20px;
}

h3{
    color: #FEA001;
    margin-bottom: 10px;
    padding: 10px;
}

img{
    max-width: 100%; 
    max-height: 100px; 
    border-radius: 12px;
}

p{  
    color: rgb(200, 201, 255);
    margin: 0px 10px 10px 10px;
}

ul{
    list-style: none;
}

.bg-color{
    color: rgb(0, 60, 83)
}

.app-background{
    background-color: rgb(0, 0, 0);
    position: relative;
}

#title{
    height: 100vh;
    width: 100%;
    position: relative;
}

#canvas-title{
    background: linear-gradient(to bottom,  rgb(0, 1, 70), rgb(0, 0, 0));
    position: relative;
    height: 100%;
    width: 100%;
}

#header{
    position: fixed;
    width: 100%;
    background-color: rgb(0, 1, 54);
    top: 0;
    z-index: 100;
}

#nav-bar{
    display: flex;
    justify-content: center;
}

#nav-items{
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
}

#main{
    display: flex;
    flex-direction: column;
}

.container-wrapper{
    display: flex;
    position: relative;
    top:0;
    padding-top: 5vh ;
    align-content: center;
    justify-content: center;
    
    transition: top 0.3s ease;
}
.glow{
    background: linear-gradient(to right, rgb(0, 0, 20),rgb(0, 0, 40),rgb(0, 0, 40), rgb(0, 0, 20));
}
.glow:hover{
    background: linear-gradient(to right, rgb(0, 0, 20),rgb(0, 0, 60),rgb(0, 0, 60), rgb(0, 0, 20));
}
.pointer{
    cursor: pointer;
}
.spacer{
    display: block;
    height: 1px;
}

.container{
    flex-basis: 600px;
    margin: 20px;
    padding: 20px;
}
.img-container{
    
    flex: 2;
    margin-left: 10px;
    margin-right: 10px;
}

.project-body{
    flex: 3;
}
.left-border{
    border-right: 1px solid;
    border-left: 5px solid;
    border-color:  rgba(0, 179, 170, 0.9);
    border-radius: 20px;
}

.right-border{
    border-right: 5px solid;
    border-left: 1px solid;
    
    border-color:  rgba(0, 179, 170, 0.9);
    border-radius: 20px;
}


.project-container{
    display: flex;
    flex-direction: column;
}



.skill{
    padding: 3px 10px 3px 10px;
    margin-right: 5px;
    background-color: rgba(0, 179, 170, 0.2);
    color: #00FFF3;
    border-radius: 35%;
}


.skill-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 10px;
}

a{
    font-size: 1.3rem;
    text-decoration: none; 
    padding:10px;
    color: #00FFF3
    
}

.fade-in{
    opacity: 0;
    transition: opacity 1.4s ease;
}

.first-color{
    color: #FEA001;
}
.second-color{
    color: rgb(0, 29, 41)
}
.third-color{
    color: #00FFF3;
}

@media (min-width: 320px) { 
    .nav-link{
        font-size: 1.1rem;
    }
}
@media (min-width: 375px) { 
    .nav-link{
        font-size: 1.35rem;
    }

}
@media (min-width: 576px) { 

}


@media (min-width: 768px) { 
    #nav-bar{
        display: flex;
        justify-content:flex-start;
    }
    
    #nav-items{
        display: flex;
        padding-left: 10px;
        padding-bottom: 8px;
    }
    img{
        max-height: 150px; 
    }
    
    .project-container{
        flex-direction: row;
    }
}


@media (min-width: 992px) { 
    
    .container{
        flex-basis: 800px;
    }
}


@media (min-width: 1200px) { 

    
}